.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea/
.ipynb_checkpoints
__pycache__

# Ignore gfl matlab dir
gfl/*
!gfl/GFLseq

# Ignore gflsegpy python package
/gflsegpy

# Ignore the pdf docs
/papers

# ignore data files
/data
/RDPG
/output

# obsolete codes
**/R/trash

# ignore matlab files
/gfl
