.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea/
python/.ipynb_checkpoints/
gfl/*/GFLseq

# Ignore the pdf docs
/papers

# ignore data files
/data
/RDPG
/output
/python/__pycache__

# obsolete codes
**/R/trash

# ignore jupyter notebooks
*.ipynb
