.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.idea/
python/.ipynb_checkpoints/

# Ignore gfl matlab dir
gfl/*
!gfl/GFLseq

# Ignore gflsegpy python package
/gflsegpy

# Ignore the pdf docs
/papers

# ignore data files
/data
/RDPG
/output
/python/__pycache__

# obsolete codes
**/R/trash

# ignore jupyter notebooks
